{% extends "layout.html" %}
{% block body %}
<section class="features-boxed">
   <div class="container">
      <div class="intro">
         <h2 class="text-center">Employee Balance</h2>
      </div>
      <div class="table-responsive">
         <table  border="1" cellpadding="3" cellspacing="3" class ="table" style="text-align: center; color:black">
            <tbody>
               <tr style="background-color: darkseagreen; font-weight: bold;border-bottom: 1px solid">
                  <strong>
                     <td>Employee Name</td>
                     <td>Total Pending Balance</td>
                     <td>Let's Pay</td>
                  </strong>
               </tr>
               <tr>
                  {% for row in rows %}
               </tr>
               <tr>
                  <td>{{row[1]}}</td>
                  <td>{{row[5]}}</td>
                  <td><a style="color:darkseagreen; text-decoration:none;" href="pay_emp_{{row[0]}}_{{row[5]}}_{{row[1]}}">Let's Pay</a></td>
               </tr>
               {% endfor %}
            </tbody>
            <tbody>
         </table>
      </div>
   </div>
</section>
{% endblock %}