{% extends "layout.html" %}
{% block body %}
<section class="features-boxed">
                    <div class="container">
                        <div class="intro">
                            <h3 class="text-center">Work Details {{mon}}</h3>
                            <h6 class="text-center">Total Amount from Clients: {{Sum}} PKR</h6>
                             <h6 class="text-center">Total Amount on Purchasing: {{Pur}} PKR</h6>
                        </div>
                        <div class="table-responsive">
         <table  border="1" cellpadding="3" cellspacing="3" class ="table" style="text-align: center; color:black">
            <tbody>
               <tr style="background-color: darkseagreen; font-weight: bold;border-bottom: 1px solid">
                  <strong>
                     <td>Client Name</td>
                     <td>Employee Name</td>
                     <td>Date</td>
                     <td>Items from Store</td>
                      <td>Items Purchased</td>
                    <td>Purchasing Amount</td>
                     <td>Total Bill to be payed by Client</td>
                  </strong>
               </tr>
               <tr>
                  {% for Employee,Client,Store,Purchased,Amount,Bill,Date in rows %}
               </tr>
               <tr>
                   <td>{{Client}}</td>
                  <td>{{Employee}}</td>
                  <td>{{Date}}</td>
                  <td>{{Store}}</td>
                   <td>{{Purchased}}</td>
                  <td>{{Amount}}</td>
                   <td>{{Bill}}</td>
               </tr>
               {% endfor %}
            </tbody>
            <tbody>
         </table>
      </div>
                    </div>
                </section>

{% endblock %}